{%extends 'base.html'%} {%block head%}
<title>Usuarios</title>
{%endblock%} {%block body%}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h2>Listado de usuarios</h2>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/principal">Home</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- data table -->
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <!-- <h3 class="card-title">DataTable with default features</h3> -->
          {% with messages = get_flashed_messages() %} 
          {% if messages%} 
          {% for message in messages %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h7><i class="icon fas fa-info"></i> {{message}}!</h7>
            </div>
          {% endfor %} 
          {% endif %} 
          {% endwith %}
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Fecha creación</th>
                <th>Email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.nombre}}</td>
                <td>{{user.rol}}</td>
                <td>{{user.estado}}</td>
                <td>{{user.fechaCreacion.date()}}</td>
                <td>{{user.email}}</td>
                <td class="text-center py-0 align-middle">
                  
                  <a
                    href="/update_user/{{user.idUsuarios}}"
                    class="btn btn-info bg-teal"
                    data-toggle="modal"
                    data-target="#modal-default2{{user.idUsuarios}}"
                    ><i class="fas fa-cash-register"></i
                  ></a>

                  <a
                    href="/update_user/{{user.idUsuarios}}"
                    class="btn btn-info"
                    data-toggle="modal"
                    data-target="#modal-default{{user.idUsuarios}}"
                    ><i class="fas fa-edit"></i
                  ></a>

                  <a href="/delete_user/{{user.idUsuarios}}" class="btn btn-danger btn-delete"
                    ><i class="fas fa-ban"></i
                  ></a>
                </td>
              </tr>

              <div class="modal fade" id="modal-default{{user.idUsuarios}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Modificar datos</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">Datos de usuario</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="/update_user/{{user.idUsuarios}}" role="form" method="POST">
                              <div class="card-body">
                                <div class="form-group">
                                    <label for="fullname">Nombre de Usuario</label>
                                    <input type="text" class="form-control" value="{{user.nombre}}" id="fullname" name="fullname" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" value="{{user.email}}" id="email" name="email" readonly>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="rol">Rol</label>
                                        <select class="form-control" id="rol" name="roll">
                                            <option>{{user.rol}}</option>
                                            <option value="admin">Administrador</option>
                                            <option value="encargado">Encargado</option>
                                            <option value="usuario">Usuario</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <label for="estado">Estado</label>
                                        <select class="form-control" id="estado" name="estado">
                                            <option>{{user.estado}}</option>
                                            <option value="activo">ACTIVO</option>
                                            <option value="inactivo">INACTIVO</option>
                                            <option value="baja">BAJA</option>
                                        </select>
                                    </div>
                                </div>
                              </div>
                              <!-- /.card-body -->
                              <div class="card-footer justify-content-between">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar 
                                </button>
                              </div>
                            </form>
                        </div>
                          <!-- /.card -->
                    </div>
                    <!-- <div class="modal-footer justify-content-between">
                      <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      
                    </div> -->
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal -->

              <div class="modal fade" id="modal-default2{{user.idUsuarios}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Asignar caja a usuario</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="card card-primary">
                            <div class="card-header">
                              <h3 class="card-title">Datos de usuario</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form action="/assign_box/{{user.idUsuarios}}" role="form" method="POST">
                              
                              <div class="card-body">
                                <div class="form-group">
                                    <label for="user_name">Usuario</label>
                                    <input type="text" class="form-control" value="{{user.nombre}}" id="user_name" name="user_name" readonly>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="box">Cajas disponibles</label>
                                        <select class="form-control" id="box" name="box">
                                            <option value="">Seleccione caja</option>
                                            {% for box in boxes %}
                                            <option value="{{box.id}}">{{box.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>   
                                </div>
                              </div>
                              <!-- /.card-body -->
                              <div class="card-footer justify-content-between">
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar
                                </button>
                              </div>
                            </form>
                        </div>
                          <!-- /.card -->
                    </div>

                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
              <!-- /.modal 2 -->

              {%endfor%}
            </tbody>
            <tfoot>
              <tr>
                <th>Nombre</th>
                <th>Perfil</th>
                <th>Estado</th>
                <th>Fecha creación</th>
                <th>Email</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{%endblock%}
