{%extends 'base.html'%} {%block head%}
<title>Usuario</title>
{%endblock%} {%block body%}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Perfil</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Perfil de usuario</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div>
      {% with messages = get_flashed_messages() %} {% if
        messages%} {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
          >
            &times;
          </button>
          <h7><i class="icon fas fa-check"></i> {{message}}!</h7>
        </div>
        {% endfor %} {% endif %} {% endwith %}
    </div>

    <div class="row">
      <div class="col-md-3">
        <!-- About Me Box -->
        <div class="card card-primary">
          {% for item in items %}
          <div class="card-header">
            <h3 class="card-title">Datos</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="text-center">
              {% if item.profilepicture == None %}
              <img
                class="profile-user-img img-fluid img-circle"
                src="{{ url_for('static', filename='images/' + 'imagen-no-disponible.jpg')}}"
                alt="User profile picture"
              />
              {% else %}
              <img
                class="profile-user-img img-fluid img-circle"
                src="{{ url_for('static', filename='images/' +item.profilepicture)}}"
                alt="User profile picture"
              />
              {% endif %}
            </div>

            <h3 class="profile-username text-center">
              {{session['username']}}
            </h3>

            <p class="text-muted text-center">{{session['userroll']}}</p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Email</b> <a class="float-right">{{session['email']}}</a>
              </li>
              <li class="list-group-item">
                <b>Telefono</b> <a class="float-right">{{item.telefono}}</a>
              </li>
              <li class="list-group-item">
                <b>Direccion</b> <a class="float-right">{{item.direccion}}</a>
              </li>
            </ul>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#settings" data-toggle="tab"
                  >Actualizar datos</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#activity" data-toggle="tab"
                  >Actividad</a
                >
              </li>
              <!-- <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li> -->
            </ul>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="activity">
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img
                      class="img-circle img-bordered-sm"
                      src="../../dist/img/user1-128x128.jpg"
                      alt="user image"
                    />
                    <span class="username">
                      <a href="#">Jonathan Burke Jr.</a>
                      <a href="#" class="float-right btn-tool"
                        ><i class="fas fa-times"></i
                      ></a>
                    </span>
                    <span class="description"
                      >Shared publicly - 7:30 PM today</span
                    >
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create
                    awesome tools to help create filler text for everyone from
                    bacon lovers to Charlie Sheen fans.
                  </p>

                  <p>
                    <a href="#" class="link-black text-sm mr-2"
                      ><i class="fas fa-share mr-1"></i> Share</a
                    >
                    <a href="#" class="link-black text-sm"
                      ><i class="far fa-thumbs-up mr-1"></i> Like</a
                    >
                    <span class="float-right">
                      <a href="#" class="link-black text-sm">
                        <i class="far fa-comments mr-1"></i> Comments (5)
                      </a>
                    </span>
                  </p>

                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Type a comment"
                  />
                </div>
                <!-- /.post -->

                <!-- Post -->
                <div class="post clearfix">
                  <div class="user-block">
                    <img
                      class="img-circle img-bordered-sm"
                      src="../../dist/img/user7-128x128.jpg"
                      alt="User Image"
                    />
                    <span class="username">
                      <a href="#">Sarah Ross</a>
                      <a href="#" class="float-right btn-tool"
                        ><i class="fas fa-times"></i
                      ></a>
                    </span>
                    <span class="description"
                      >Sent you a message - 3 days ago</span
                    >
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create
                    awesome tools to help create filler text for everyone from
                    bacon lovers to Charlie Sheen fans.
                  </p>

                  <form class="form-horizontal">
                    <div class="input-group input-group-sm mb-0">
                      <input
                        class="form-control form-control-sm"
                        placeholder="Response"
                      />
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">
                          Send
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- /.post -->

                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <img
                      class="img-circle img-bordered-sm"
                      src="../../dist/img/user6-128x128.jpg"
                      alt="User Image"
                    />
                    <span class="username">
                      <a href="#">Adam Jones</a>
                      <a href="#" class="float-right btn-tool"
                        ><i class="fas fa-times"></i
                      ></a>
                    </span>
                    <span class="description"
                      >Posted 5 photos - 5 days ago</span
                    >
                  </div>
                  <!-- /.user-block -->
                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <img
                        class="img-fluid"
                        src="../../dist/img/photo1.png"
                        alt="Photo"
                      />
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-sm-6">
                          <img
                            class="img-fluid mb-3"
                            src="../../dist/img/photo2.png"
                            alt="Photo"
                          />
                          <img
                            class="img-fluid"
                            src="../../dist/img/photo3.jpg"
                            alt="Photo"
                          />
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                          <img
                            class="img-fluid mb-3"
                            src="../../dist/img/photo4.jpg"
                            alt="Photo"
                          />
                          <img
                            class="img-fluid"
                            src="../../dist/img/photo1.png"
                            alt="Photo"
                          />
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.col -->
                  </div>
                  <!-- /.row -->

                  <p>
                    <a href="#" class="link-black text-sm mr-2"
                      ><i class="fas fa-share mr-1"></i> Share</a
                    >
                    <a href="#" class="link-black text-sm"
                      ><i class="far fa-thumbs-up mr-1"></i> Like</a
                    >
                    <span class="float-right">
                      <a href="#" class="link-black text-sm">
                        <i class="far fa-comments mr-1"></i> Comments (5)
                      </a>
                    </span>
                  </p>

                  <input
                    class="form-control form-control-sm"
                    type="text"
                    placeholder="Type a comment"
                  />
                </div>
                <!-- /.post -->
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-danger"> 10 Feb. 2014 </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-envelope bg-primary"></i>

                    <div class="timeline-item">
                      <span class="time"
                        ><i class="far fa-clock"></i> 12:05</span
                      >

                      <h3 class="timeline-header">
                        <a href="#">Support Team</a> sent you an email
                      </h3>

                      <div class="timeline-body">
                        Etsy doostang zoodles disqus groupon greplin oooj voxy
                        zoodles, weebly ning heekya handango imeem plugg dopplr
                        jibjab, movity jajah plickers sifteo edmodo ifttt
                        zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu
                        weebly balihoo...
                      </div>
                      <div class="timeline-footer">
                        <a href="#" class="btn btn-primary btn-sm">Read more</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-user bg-info"></i>

                    <div class="timeline-item">
                      <span class="time"
                        ><i class="far fa-clock"></i> 5 mins ago</span
                      >

                      <h3 class="timeline-header border-0">
                        <a href="#">Sarah Young</a> accepted your friend request
                      </h3>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-comments bg-warning"></i>

                    <div class="timeline-item">
                      <span class="time"
                        ><i class="far fa-clock"></i> 27 mins ago</span
                      >

                      <h3 class="timeline-header">
                        <a href="#">Jay White</a> commented on your post
                      </h3>

                      <div class="timeline-body">
                        Take me to your leader! Switzerland is small and
                        neutral! We are more like Germany, ambitious and
                        misunderstood!
                      </div>
                      <div class="timeline-footer">
                        <a href="#" class="btn btn-warning btn-flat btn-sm"
                          >View comment</a
                        >
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-success"> 3 Jan. 2014 </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                    <i class="fas fa-camera bg-purple"></i>

                    <div class="timeline-item">
                      <span class="time"
                        ><i class="far fa-clock"></i> 2 days ago</span
                      >

                      <h3 class="timeline-header">
                        <a href="#">Mina Lee</a> uploaded new photos
                      </h3>

                      <div class="timeline-body">
                        <img src="http://placehold.it/150x100" alt="..." />
                        <img src="http://placehold.it/150x100" alt="..." />
                        <img src="http://placehold.it/150x100" alt="..." />
                        <img src="http://placehold.it/150x100" alt="..." />
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  <div>
                    <i class="far fa-clock bg-gray"></i>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->

              <div class="active tab-pane" id="settings">
                <form class="form-horizontal" role="form" action="/update_profile/{{item.idUsuarios}}" method="POST" autocomplete="off" enctype="multipart/form-data">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"
                      >Nombre</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        class="form-control"
                        id="inputName"
                        name="inputName"
                        value="{{item.nombre}}"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label"
                      >Email</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="email"
                        class="form-control"
                        id="inputEmail"
                        name="inputEmail"
                        value="{{item.email}}"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="userPhone" class="col-sm-2 col-form-label"
                      >Telefono</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="tel"
                        class="form-control"
                        id="userPhone"
                        name="userPhone"
                        value="{{item.telefono}}"
                        pattern="[0-9]{4}[0-9]{4}"
                        minlength="8" 
                        maxlength="12"
                      />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="direction" class="col-sm-2 col-form-label"
                      >Dirección</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        id="direction"
                        name="direction"
                      >{{item.direccion}}</textarea>
                    </div>
                  </div>
                  <div class="input-group">
                    <label for="profilepic" class="col-sm-2 col-form-label"
                      >Imagen</label
                    >
                    <div class="col-sm-10 custom-file">
                      <input
                        type="file"
                        class="custom-file-input"
                        id="profilepic"
                        name="profilepic"
                        value="{{item.profilepicture}}"
                        accept="image/jpg, image/jpeg, image/png, image/gif, image/webp"
                        capture
                      />
                      <label class="custom-file-label" for="exampleInputFile"
                        >Seleccione nueva imagen</label
                      >
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <a href="/update_password/{{item.idUsuarios}}" data-toggle="modal" data-target="#modal-default{{item.idUsuarios}}">Cambiar contraseña</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">
                        Actualizar
                      </button>
                    </div>
                  </div>
                </form>

                <div class="modal fade" id="modal-default{{item.idUsuarios}}">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title mb-1">Actualizar contraseña</h4>
                        <div class="msg"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Ingresar datos</h3>
                              </div>
                              <!-- /.card-header -->
                              <!-- form start -->
                              <form action="/update_password/{{item.idUsuarios}}" role="form" method="POST" oninput='validation3.setCustomValidity(validation3.value != validation2.value ? "Las contraseñas no coinciden." : "")'>
                                <div class="card-body">

                                  <div class="form-group">
                                      <label for="validation1">Actual</label>
                                      <input type="password" class="form-control" id="validation1" placeholder="Ingrese contraseña actual" name="validation1" required title="Ingrese su contraseña actual correctamente">
                                  </div>

                                  <div class="form-group">
                                      <label for="validation2">Nueva</label>
                                      <input type="password" class="form-control" id="validation2" placeholder="Nueva contraseña" name="validation2" required  pattern=".{8,}" title="La contraseña debe contener minimo 8 caracteres, letra mayuscula, letra minuscula, un numero y un caracter especial." onkeyup="CheckPassword(this)">
                                      <error id="alert"></error>
                                  </div>

                                  <div class="form-group">
                                    <label for="validation3">Repetir contraseña nueva</label>
                                    <input type="password" class="form-control" id="validation3" placeholder="Repita su contraseña" name="validation3" required  pattern=".{8,}">
                                  </div>

                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer justify-content-between">
                                  <button type="submit" class="btn btn-primary" onclick="CheckPassword(document.form1.validation2)">Aceptar</button>
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar
                                  </button>
                                </div>
                              </form>
                          </div>
                            <!-- /.card -->
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                {% endfor %}
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

{%endblock%}
