{%extends 'base.html'%} {%block head%}
<title>Ver venta</title>
{%endblock%} {%block body%}

<!-- mensajes -->
<div>
    {% with messages = get_flashed_messages() %} {% if messages%} {%
    for message in messages %}
    <div class="alert alert-info alert-dismissible">
        <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-hidden="true"
        >
            &times;
        </button>
        <h7><i class="icon fas fa-info"></i> {{message}}!</h7>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</div>

<!-- /.main content -->
<section class="content">
    <div class="container-fluid">       
        <div class="row">       
            <div class="col-12">
                
                <!-- botones -->
                <div class="row callout-info pb-2 pt-2 no-print">
                    
                    <div class="col-2">
                        {% if session['userroll'] == "admin" %}
                        <a href="/venta" class="small-box-footer">
                        <button type="button" class="btn btn-block btn-info btn-sm">
                            Ver ventas
                        </button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                
            <!-- Main content -->
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        {% for empresa in empresas %} 
                        <h4>         
                        <i class="fas fa-globe"></i> {{empresa.nombre}}
                        <!-- <small class="float-right">Fecha: 2/10/2014</small> -->
                        </h4>
                    </div>
                <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info pb-2">
                    <div class="col-sm-2 invoice-col">
                        <div class="image">
                            {% if empresa.logo == None %}
                            <img src="{{url_for('static', filename='images/' + 'imagen-no-disponible.jpg')}}" alt="logo" class="img-circle elevation-2 float-left" style="opacity: .8" width="121" height="121">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/' + empresa.logo)}}" alt="logo" class="img-circle elevation-2 float-left" style="opacity: .8" width="121" height="121">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4 invoice-col">
                        
                        <address>
                        <strong>RTN </strong>{{empresa.RTN}}<br>
                        <strong>Telefono </strong>{{empresa.telefono}} <br>
                        <strong>Email </strong>{{empresa.email}} <br>
                        <strong>Dirección </strong>{{empresa.direccion}}
                        </address>
                        {% endfor %} 
                    </div>

                    <!-- /.col -->
                    <div class="col-sm-2 invoice-col">

                    </div>

                    <!-- /.col -->
                    <div class="col-sm-4 invoice-col">
                        {% for compra in compras %}
                        <b>Venta #{{compra.idVentas}}</b><br>
                        <br>
                        <b>Fecha:</b> {{compra.fecha.date()}}<br>
                        <b>Forma de pago:</b> {{compra.idFormaPago}}<br>
                        <b>Usuario:</b> {{compra.usuario}}
                        {% endfor %}
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set importe = 0%}
                        {% set cont = 1 %}
                        {% for detalle in detalles %}
                        <tr>
                            <td>{{cont}}</td>
                            <td>{{detalle.idProducto}}</td>
                            <td>{{detalle.nombre}}</td>
                            <td>L.{{detalle.precio}}</td>
                            <td>{{detalle.cantidad}}</td>
                            {%set importe = detalle.precio * detalle.cantidad%}
                            <td>L. {{importe}}</td>
                            {% set cont = cont+1%}
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                <!-- accepted payments column -->
                <div class="col-7">
                    <!-- <p class="lead">Payment Methods:</p>
                    <img src="../../dist/img/credit/visa.png" alt="Visa">
                    <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                    <img src="../../dist/img/credit/american-express.png" alt="American Express">
                    <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                    </p> -->
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <!-- <p class="lead">Amount Due 2/22/2014</p> -->

                    <div class="table-responsive">
                    <table class="table">
                        <!-- <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>$250.30</td>
                        </tr>
                        <tr>
                            <th>Tax (9.3%)</th>
                            <td>$10.34</td>
                        </tr> -->
                        {% set tax = 0.15 %}
                        {% for compra in compras %}
                        <tr>
                            <th>Sub total:</th>
                            <td>L. {{compra.total}}</td>
                        </tr>
                        <tr>
                            <th>Impuesto 15%:</th>
                            {% set totaltax = tax * (compra.total|float) %}
                            <td>L. {{"%.2f"|format(totaltax)}}</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            {% set totalcompra = totaltax + (compra.total|float) %}
                            <td>L. {{"%.2f"|format(totalcompra)}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
                </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                <div class="col-12">
                    {% for compra in compras %}
                    <a href="/venta_pdf/{{compra.idVentas}}" target="_blank" class="btn btn-default"><i class="fas fa-print"></i>Imprimir Factura</a>
                    <a href="/venta_ticket/{{compra.idVentas}}" target="_blank" class="btn btn-default"><i class="fas fa-print"></i>Imprimir ticket</a>
                    {% endfor %}
                    <!-- <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                    </button>
                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                    </button> -->
                </div>
                </div>
            </div>
            <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{%endblock%}